.video-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

video {
  margin-bottom: 20px;
}

.radio-container {
  display: flex;
  justify-content: center;
}

.radio-container label {
  margin-right: 10px;
}
.video-box {
  margin-top: 20px;
}
